<h1>index</h1>

<div id="map"></div>

<div>
    <button class="makingDot">dot!</button>
</div>

<div id="editDot">
    <form>
        
    </form>
</div>



<div id="dots">
    <% @dots.each do |p| %>
    <div class='dot' id="<%=p.id%>">
       <li>
       latitude: <%=p.lat%> <br>
       longitude: <%=p.lng%>
       <button class='editingDot' id="<%=p.id%>">수정</button>
       <button class='destroyingDot' id="<%=p.id%>">삭제</button>
       </li>
    </div>
    <% end %>
</div>
